._lesson {
  width: 9.333333rem;
  margin: 0 auto;
  height: 4.933333rem;
  border-bottom: 1px solid #f3f3f3;
}

._lesson .img_box {
  width: 2.8rem;
  height: 4.106667rem;
  overflow: hidden;
  border-radius: .08rem;
  position: relative;
}

._lesson .img_box img {
  width: 100%;
  border-radius: .08rem;
}

._lesson .img_box .doc_info {
  position: absolute;
  width: 100%;
  height: .8rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: .213333rem;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 .133333rem;
}

._lesson .img_box .doc_info .doc_name {
  font-size: .266667rem;
  margin-bottom: .106667rem;
  width: 100%;
}

._lesson .img_box .doc_info .doc_center {
  font-size: .186667rem;
  width: 100%;
}

._lesson .img_box .girle {
  background-color: rgba(154, 56, 76, 0.7);
}

._lesson .img_box .boy {
  background-color: rgba(142, 88, 43, 0.7);
}

._lesson .lesson_info {
  width: 6.066667rem;
  height: 4.133333rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

._lesson .lesson_info .lesson_title {
  font-size: .4rem;
  color: #333;
  line-height: .533333rem;
  margin-bottom: .133333rem;
}

._lesson .lesson_info .lesson_desc {
  font-size: .32rem;
  color: #777777;
  line-height: .4rem;
}

._lesson .lesson_info .lesson_price_info {
  font-size: .32rem;
  color: #999;
  width: 100%;
  height: .613333rem;
}

._lesson .lesson_info .lesson_price_info .lesson_num {
  background: url("../../images/lesson_icon.png") no-repeat left center;
  background-size: .293333rem .266667rem;
  padding-left: .373333rem;
  padding-right: .173333rem;
  border-right: 1px solid #ecebe9;
}

._lesson .lesson_info .lesson_price_info .study_num {
  padding-left: .173333rem;
}

._lesson .lesson_info .lesson_price_info ._price_1 {
  font-size: .4rem;
  color: #ff0000;
  font-weight: 500;
}

._lesson .lesson_info .lesson_price_info ._detail_btn_ {
  width: 1.76rem;
  line-height: .613333rem;
  text-align: center;
  font-size: .293333rem;
  color: #ff0000;
  border-radius: .306667rem;
  border: 1px solid #ff0000;
}
