._title_box {
  width: 4rem;
  font-size: .426667rem;
  color: #000000;
  position: relative;
  padding-left: .253333rem;
}

._title_box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff0000;
  width: .106667rem;
  height: .426667rem;
}
