.my_info_page {
  box-sizing: border-box;
  width: 10rem;
  margin: 0 auto;
  overflow: hidden;
}

.my_info_page .photo_box {
  width: 10rem;
  height: 3.47rem;
  background-color: #fff;
  margin: 0 auto;
  flex-direction: column;
}

.my_info_page .photo_box .re_upload {
  width: 1.76rem;
  text-align: center;
  line-height: 0.61rem;
  font-size: 0.29rem;
  color: #FF0000;
  border: 1px solid #FF0000;
  border-radius: 0.305rem;
  margin-top: 0.32rem;
}

.my_info_page .user_info_box {
  background-color: #fff;
  margin-top: 0.27rem;
}

.my_info_page .user_info_box .user_info_item:last-child {
  border: none;
}

.my_info_page .user_info_box .user_info_item {
  width: 9.33rem;
  height: 1.33rem;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.my_info_page .user_info_box .user_info_item .item_user {
  font-size: 0.37rem;
  color: #323439;
  padding-left: 0.15rem;
}

.my_info_page .user_info_box .user_info_item .item_edit_box {
  height: 1rem;
}

.my_info_page .user_info_box .user_info_item .item_edit_box .item_edit {
  width: 4rem;
  text-align: right;
  font-size: 0.35rem;
  color: #999;
}

.my_info_page .user_info_box .user_info_item .item_edit_box .item_edit:disabled {
  background-color: #fff;
}

.my_info_page .user_info_box .user_info_item .item_edit_box input:disabled {
  color: #999;
}

.my_info_page .user_info_box .user_info_item .item_edit_box::after {
  content: '';
  display: block;
  width: .133333rem;
  height: .24rem;
  background: url("../../images/arr_left.png") no-repeat center;
  background-size: 100% 100%;
  margin-left: 0.2rem;
}

.my_info_page .save_btn {
  width: 9.33rem;
  line-height: 1.07rem;
  text-align: center;
  margin: 0 auto;
  background-color: #FF0000;
  border-radius: 0.5035rem;
  font-size: 0.37rem;
  color: #F9F9F9;
  letter-spacing: 0.15rem;
  margin-top: 0.4rem;
}
