.diag_tip .mask {
  position: relative;
}

.diag_tip .mask .closed {
  width: .666667rem;
  height: .666667rem;
  background: url("../../images/close.png") no-repeat center center;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: .666667rem;
}

.diag_tip .van-popup {
  background-color: transparent;
}
