@charset "UTF-8";
.detail_page {
  box-sizing: border-box;
  padding-bottom: 1.2rem;
}

.detail_page .detail_img_box {
  width: 10rem;
  position: relative;
  background-color: #fff;
  min-height: 4rem;
}

.detail_page .detail_img_box .info_banner {
  position: absolute;
  width: 10rem;
  height: 1.7rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem;
  color: #fff;
  font-size: 0.43rem;
  box-sizing: border-box;
  padding: 0.2rem 0.35rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 0.3rem;
}

.detail_page .detail_img_box .info_banner .doc_info {
  font-size: 0.35rem;
  color: #fff;
  width: 5rem;
}

.detail_page .detail_img_box .info_banner .lesson_info_num {
  font-size: 0.35rem;
  color: #fff;
}

.detail_page .detail_img_box .info_banner .lesson_info_num .icon_lesson {
  padding-right: 0.32rem;
  border-right: 1px solid #fff;
  margin-right: .133333rem;
  background: url("../../images/kcxq_xjkw.png") no-repeat left center;
  background-size: .32rem .32rem;
  padding-left: 0.42rem;
}

.detail_page .tabs_box .van-tabs__line {
  background-color: #EB5428;
  width: 0.96rem !important;
}

.detail_page .tabs_box .selected {
  font-size: 0.37rem;
  color: #EB5428 !important;
}

.detail_page .tabs_box .tab_title {
  font-size: 0.37rem;
  color: #333333;
}

.detail_page .lesson_detail_box {
  border-top: 0.2rem solid #F8F9FA;
  background-color: #fff;
}

.detail_page .lesson_detail_box .rich_box {
  box-sizing: border-box;
  padding: 0.3rem;
  overflow: hidden;
  font-size: .373333rem;
  line-height: .426667rem;
  position: relative;
}

.detail_page .lesson_detail_box .rich_box p {
  line-height: 0.4rem;
}

.detail_page .lesson_detail_box .rich_box img {
  width: 100%;
}

.detail_page .lesson_detail_box .rich_box .more {
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.37rem;
  color: #6d5353;
  background-color: #fff;
  position: absolute;
  width: 10rem;
  margin: 0 auto;
  left: 50%;
  bottom: -0.026667rem;
  transform: translateX(-50%);
  box-shadow: 0px -8px 20px 3px #fff;
}

.detail_page .bottom_buy {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F8F8F8;
  z-index: 9999999;
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
}

.detail_page .back_index {
  position: fixed;
  width: 1.333333rem;
  height: 1.333333rem;
  right: .133333rem;
  bottom: 1.466667rem;
  background-color: #ddd;
  color: #fff;
  font-size: .373333rem;
  text-align: center;
  border-radius: 50%;
  flex-direction: column;
}
