.audio_item {
  box-sizing: border-box;
}

.audio_item .read_mark {
  background: url("../../images/kcxq_stred.png") no-repeat left center !important;
  background-size: .56rem .56rem !important;
}

.audio_item .audio_item_box {
  width: 9.266667rem;
  height: 1.6rem;
  margin: 0 auto;
  border-bottom: 1px solid #fbfbfb;
  background: url("../../images/kcxq_stgr.png") no-repeat left center;
  background-size: .56rem .56rem;
  padding-left: 1.066667rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.audio_item .audio_item_box .study_time {
  position: absolute;
  width: 1.386667rem;
  height: .48rem;
  background-color: #EB5428;
  font-size: 0.24rem;
  color: #FFFFFF;
  right: 0.1rem;
  text-align: center;
  line-height: .49rem;
  box-sizing: border-box;
  top: 0;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.audio_item .audio_item_box .redFont {
  color: #EB5428 !important;
}

.audio_item .audio_item_box .title_3 {
  font-size: 0.4rem;
  color: #1d1d1d;
  width: 6.5rem;
}

.audio_item .audio_item_box .lesson_item_info {
  font-size: 0.32rem;
  color: #999;
  padding-top: .133333rem;
}

.audio_item .audio_item_box .lesson_item_info .time {
  background: url("../../images/lesson_icon.png") no-repeat left center;
  background-size: .293333rem .266667rem;
  padding-left: .4rem;
  padding-right: .16rem;
  margin-right: .16rem;
  position: relative;
}

.audio_item .audio_item_box .lesson_item_info .time::after {
  content: '';
  display: block;
  width: 1px;
  height: .266667rem;
  background-color: #999;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
